/**
 * @name Fallout 4 Terminal
 * @author Bates#7075
 * @version 1.0.0
 * @source https://github.com/CommandCrafterHD/Fallout4TerminalTheme
 * @website https://commandcrafterhd.github.io/Fallout4TerminalTheme
 * @donate https://www.paypal.com/paypalme/floriancegledi
 * @patreon https://patreon.com/bates
 * @description A theme inspired by Fallout 4's terminals!
 * @authorId 137259132305539072
*/

@import url('https://commandcrafterhd.github.io/Fallout4TerminalTheme/css/main.css');

/* TO CUSTOMIZE THE THEME, UNCOMMENT THE LINES BELOW AND REPLACE THE VARIABLES */



:root {
  --background: #141f16 !important;
  --text-color: rgb(57, 180, 63) !important;
  --highlight: var(--text-color) !important;
}
